# Created by .ignore support plugin (hsz.mobi)
.vscode
.idea/*
_ide_helper.php
.DS_Store
.bat
.env
.tmp



*.iml
*/target/*
*.ipr
*.iws
node_modules/
output/
package-lock.json


df-img-resources/upload/

.project
.settings/
.classpath
target/
bin/
deepfashion-console/dependency-reduced-pom.xml
df-local-debug/localServer
zhiyi-logs-local/

ruhnn/