<!DOCTYPE html>

<head>

    <meta charset="UTF-8" />

    <title>佛山巨亮光照明公司</title>

    <meta name="keywords" content="直插式LED/贴片式LED/均具有低功耗、衰减小、亮度高、寿命长、耐振动、可靠性好、显示清晰、感应快速等优点，并广泛应用于显示屏、交通灯、亮化照明、灯饰应用、电子应用等各行各业。">

    <meta name="description" content="直插式LED/贴片式LED/均具有低功耗、衰减小、亮度高、寿命长、耐振动、可靠性好、显示清晰、感应快速等优点，并广泛应用于显示屏、交通灯、亮化照明、灯饰应用、电子应用等各行各业。">

    <link href="/public/client2/css/jlggd/style.css" rel="stylesheet" type="text/css" />

    <base target="_blank" />

    <script type="text/javascript" src="/public/client2/js/lrtk.js"></script>

</head>

<body>

<div class="nav_maniBody">

    <div class="nav_mainArea">
        <div class="logo"><img src="/public/client2/img/jlggd/logo1.jpg"  alt=""></div>
    </div>
</div>

<div class="nev">
    <ul>
        <li><a href="#">网站首页</a></li>
        <li><a href="#">公司简介</a></li>
        <li><a href="#">新闻中心</a></li>
        <li><a href="#">产品中心</a></li>
        <li><a href="#">服务中心</a></li>
        <li><a href="javascript:void(0)" onclick="openZoosUrl('chatwin');return false;" target="_blank">联系我们</a></li>
    </ul>
</div>
<!-- 代码banner 开始 -->
<div id="playBox">
    <div class="pre"></div>
    <div class="next"></div>
    <div class="smalltitle">
        <ul>
            <li class="thistitle"></li>
            <li></li>
            <li></li>

        </ul>
    </div>
    <ul class="oUlplay">
        <li><a href="" target="_blank"><img src="/public/client2/img/jlggd/1.jpg"></a></li>
        <li><a href="" target="_blank"><img src="/public/client2/img/jlggd/2.jpg"></a></li>
        <li><a href="" target="_blank"><img src="/public/client2/img/jlggd/3.jpg"></a></li>

    </ul>
</div>
<!-- 代码 结束 -->
<div class="jc">
    <i></i>
</div>

<div class="jc_tab">
    <img src="/public/client2/img/jlggd/je.jpg"/>
</div>


<div class="jc_tab">
    <img src="/public/client2/img/jlggd/ly.jpg"/>
</div>

<div class="zd">
    <img src="/public/client2/img/jlggd/jlg_24.jpg"/>
</div>

<div class="anli">
    <ul>
        <li>
            <img src="/public/client2/img/jlggd/jlg_27.jpg" />

        </li>
        <li>
            <img src="/public/client2/img/jlggd/jlg_29.jpg" />

        </li>
        <li>
            <img src="/public/client2/img/jlggd/jlg_31.jpg" />
        </li>


        <div style="clear:both;"></div>
    </ul>
</div>
<div class="but1">
    <ul>
        <li>
            <a href="" target="_blank"><img src="/public/client2/img/jlggd/a (2).jpg"/></a>

        </li>
        <li>
            <a href="" target="_blank"><img src="/public/client2/img/jlggd/a (3).jpg"/></a>

        </li>
        <li>
            <a href="" target="_blank"><img src="/public/client2/img/jlggd/a (1).jpg"/></a>
        </li>


        <div style="clear:both;"></div>
    </ul>
</div>

<div class="jc_tab">
    <img src="/public/client2/img/jlggd/2.jpg"/>
</div>

<div class="zd">
    <img src="/public/client2/img/jlggd/jlg_39.jpg"/>
</div>

<div class="new">
    <ul>
        <li>
            <img src="/public/client2/img/jlggd/jlg_45.jpg" />
            <b>LED灯珠参数说明</b>
            <p>直插式LED灯珠要注意哪些事项,LED灯珠贮存,运输，生产不注意会使灯珠出现死灯的现象,那么直插LED灯珠要注......<a href="/bxzl/5363.html">[详细]</a></p>
        </li>
        <li>
            <img src="/public/client2/img/jlggd/jlg_47.jpg" />
            <b>直插式LED灯珠要注意哪些事项</b>
            <p>5月31日，国际半导体设备材料产业协会发布的最新数据显示，2010年，为扩充 LED面板产能，台湾面......<a href="/bxzl/5355.html">[详细]</a></p>
        </li>
        <li>
            <img src="/public/client2/img/jlggd/jlg_49.jpg" />
            <b>台湾首超韩日成全球最大LED产地</b>
            <p>创新、进取、客户至上、诚实守信的经营理念和专业的技术使我们汇聚了设计和照明行业内最优秀的工作团队...... <a href="/bxzl/5352.html">[详细]</a></p>
        </li>

        <div style="clear:both;"></div>
    </ul>
</div>
<div style="clear:both;"></div>
<div class="zd1">
    <img src="/public/client2/img/jlggd/jlg_55.jpg"/>
</div>

<div class="foot">
    <div class="logo1">
        <img src="/public/client2/img/jlggd/jlg_59.jpg"/>
    </div>
    <div class="word">
        <b>咨询热线：18022153234</b>
        <b>地址：广东省佛山市顺德区容桂桂州大道东20号耀丰大楼5楼</b>
        <b>版权所有@佛山巨亮光照明公司</b>
    </div>
    <div class="ewm">
        <img src="/public/client2/img/jlggd/ewm.jpg"/>
    </div>

</div>

</body>

</html>



